################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ATM/v17/ipch/AutoPCH/b14871c47c5c1ee2/MAINKAFFE.ipch
